<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
        <div class="col-8 offset-2">
    <h3>create a new listing</h3>
    <form method="post" action="/listing" class="needs-validation" novalidate>
        <div class="mb-2">
            <table for="title" class="form-label" >Title</table>
            <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required>
        </div>
        <div class="mb-2">
            <table for="Description" class="form-label" >Description</table>
            <textarea name="listing[description]" class="form-control" required></textarea>
        </div>
        <div class="mb-2">
            <table for="Image" class="form-label" >Image</table>
            <input name="listing[image][url]", name="listing[image][filename]" placeholder="Enter image URL" type="text" class="form-control"> 
            <!-- <input name="listing[image][filename]" placeholder="Enter image filename" type="text" class="form-control"> -->
        </div>
        <div class="row">
        <div class="mb-2 col-md-4">
            <table for="price" class="form-label" >Price</table>
            <input name="listing[price]" placeholder="enter price" type="number" class="form-control" required>
        </div>
        <div class="mb-2 col-md-8">
            <table for="country" class="form-label" >Country</table>
            <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required>
        </div>
        </div>
        <div class="mb-2">
            <table for="location" class="form-label" >Location</table>
            <input name="listing[location]" placeholder="enter location" type="text" class="form-control" required>
        </div>
        <button class="btn btn-primary mt-2 mb-1">add</button>
    </form>
  
</div>
</div>
